.image-preview {
  width: 400px;
  max-width: 100%;
  height: 280px;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
}
.image-preview img {
  width: 400px;
  max-width: 100%;
  min-height: 280px;
}

.image-preview h3 {
  font-size: 1rem;
  font-weight: normal;
}
